{% extends 'catalog/base.html' %}

{% load my_tags %}
{% block content%}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">{{ product.name | title }}</h1>
                    {% for version in object.version_set.all %}
                    <h4 class="my-0 font-weight-normal">{{ version.name }} </h4>


                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">Актуальная версия: {{ version.number_of_version }}</h4>
                    {% endfor %}
                    <h1 class="card-title pricing-card-title">{{ product.purchase_price }} ₽</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3" style="padding-left: 10px; text-align: left">
                       {% if product.image %}
                         <img class="card-img-top"
                              src="{{ product.image|mymedia }}"
                              alt="Card image cap"
                         style="max-width: 30%; height: auto;">
                        {% endif %}
                        <div class="card-body">

                        <li>- {{ product.description | capfirst }}</li>
                        <li>- {{ product.category | capfirst }}</li>
                            <p class="text" align="right">{{ object.user|default:"Неавторизованый пользователь" }}</p>
<!--                        <li>- {{ product.date_of_creation }}</li>-->
<!--                        <li>- {{ product.last_modified_date }}</li>-->
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
