{% extends 'catalog/base.html' %}

{% block content %}
<form method="post" class="row" enctype="multipart/form-data">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          {% if form.instance.id %}
            Редактирование продукта
          {% else %}
            Добавление продукта
          {% endif %}
        </h3>
      </div>
      <div class="card-body">

          {% csrf_token %}
          {{ form.as_p }}
          {{ version_form.as_p }}
<!--# <p class="text" align="right">{{ object.user|default:"Неавторизованый пользователь" }}</p>-->
          <button type="submit" class=" btn btn-success">Сохранить</button>

      </div>
      <div class="card-footer"></div>
    </div>
  </div>
<div class="col-6">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">
      Версия
        </h1>
    </div>
    <div class="card-body">
      {{ formset.management_form }}
      {% for form in formset.forms %}
      {{ form.as_p}}
      {% endfor %}

    </div>
  </div>
</div>
</form>
{% endblock %}