<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" >
                        {% csrf_token %}
                           <input type="text" name="name">
                           <input type="text" name="phone">
                           <textarea type="text" name="message"></textarea>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>

</form>
</body>
</html>
